In [3]:
pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.9-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 4.4 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy  import create_engine
import pandas as pd

engine = create_engine('postgresql+psycopg2://postgres:1407@localhost/DataWarehousex')

print(engine)

Engine(postgresql+psycopg2://postgres:***@localhost/DataWarehousex)

In [4]:
# sql to df
crypto_data_df = pd.read_sql_query('select * from dannys_diner.members', engine)
print(crypto_data_df)

  customer_id   join_date
0           A  2021-01-07
1           B  2021-01-09

In [8]:
from datetime import date, timedelta
import time

start_dt = date(2022, 1, 1)
end_dt = date.today()

# difference between current and previous date
delta = timedelta(days=1)

# store the dates between two dates in a list
dates = []

while start_dt <= end_dt:
    # Check if the current date is not a Saturday (5) or Sunday (6)
    if start_dt.weekday() not in [5, 6]:
        # add current date to list by converting it to iso format
        dates.append(start_dt.strftime('%d%m%Y'))
    # increment start date by timedelta
    start_dt += delta

print('Dates between', start_dt, 'and', end_dt)
# print(dates)
print('Number of working days:', len(dates))

Dates between 2024-02-16 and 2024-02-15
Number of working days: 554

In [10]:
import pandas as pd
from datetime import datetime , timedelta

date_str = datetime.today().strftime('%d%m%Y')

In [ ]:
df[df[' SERIES'] == ' EQ'].shape

In [17]:
dt = datetime.today() - timedelta(1)
dt = dt.strftime('%d%m%Y')

In [24]:
df = pd.read_csv(f'https://archives.nseindia.com/products/content/sec_bhavdata_full_{dt}.csv')
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,1018GS2026,GS,14-Feb-2024,118.00,123.00,123.00,112.25,112.25,112.25,117.79,21,0.02,3,11,52.38
1,20MICRONS,EQ,14-Feb-2024,149.15,145.05,156.05,145.05,155.70,155.30,152.57,65001,99.17,5115,23574,36.27
2,21STCENMGM,BE,14-Feb-2024,45.00,45.90,45.90,45.90,45.90,45.90,45.90,1625,0.75,14,-,-
3,360ONE,EQ,14-Feb-2024,691.70,690.25,719.95,680.65,707.15,707.85,702.65,696379,4893.08,46715,337800,48.51
4,3IINFOLTD,EQ,14-Feb-2024,47.95,47.15,49.80,46.90,49.40,49.25,49.04,1783170,874.45,7428,675919,37.91

In [26]:
df = df[df[' SERIES'] == ' EQ']

In [28]:
df.shape

(1790, 15)

In [29]:
df.to_sql('nse_data', engine, if_exists='append', index=False)

790

In [31]:
# url to download postgres odbc connector
# https://www.postgresql.org/ftp/odbc/versions/msi/ 
'''
download only the latest version  and install it 
then hit windows + R 
type : odbcad32 
go to add 
search for postgres unicode

in datasoucre => PostgreSQL35Wunicode 
fill in rest of details 
test connection 
'''

'\ndownload only the latest version  and install it \nthen hit windows + R \ntype : odbcad32 \ngo to add \nsearch for postgres unicode\n\nin datasoucre => PostgreSQL35Wunicode \nfill in rest of details \ntest connection \n'